form input {
  width: 100%;
  padding: 2%;
  border: 1px black solid;
  margin-top: 5px;
}
form {
  width: 40%;
  padding: 2%;
  background-color: gainsboro;
}
form button {
  width: 100%;
  background-color: blue;
  color: white;
  border: none;
  padding: 2%;
}
.addusers {
  padding: 2%;
}
